@import url("https://fonts.googleapis.com/css2?family= Inter:wght@400;500 & display =swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-url: url(../img/bg-desktop.jpg);
  --text-color: #fff;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.5);
  --switch-bg-url: url(../img/moonStars.svg);
  --highlight-color: rgba(255, 255, 255, 0.2);
}

.light {
  --bg-url: url(../img/bg-desktop-light.jpg);
  --text-color: #000;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.5);
  --switch-bg-url: url(../img/sun.svg);
  --highlight-color: rgba(0, 0, 0, 0.2);
}

/* Modificações do App */
#App * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#App {
  background: var(--bg-url) no-repeat top center / cover;
  height: 100vh;
}

/* Modicações container */
#container {
  width: 100%;
  max-width: 588px;
  margin: 0px auto 0px;
  padding: 0 24px;
  padding: 56px;
}

/* Links */
#links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

#socialLinks {
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 16px;

  font-size: 26px;
}

@media (max-width: 700px) {
  :root {
    --bg-url: url(../img/bg-mobile.jpg);
  }

  .light {
    --bg-url: url(../img/bg-mobile-light.jpg);
  }
}